/* store css */
/*import from dist/www/xiaoqiang/web/css/layout.css,(by build.py)*/

#hd {
	position: relative;
	z-index: 1;
}
#hd .inner {
	width: 1160px;
	margin: auto;
}
.mod-head {
	position: relative;
	height: 52px;
}
#logo {
	position: absolute;
	left: 0;
	bottom: -5px;
}
#logo img {
	display: block;
}
#nav {
	position: absolute;
	left: 210px;
	bottom: -2px;
}
#nav li {
	float: left;
	margin-right: 80px;
}
#nav li a {
	float: left;
	font-size: 18px;
	line-height: 1.2;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#nav li a{
	opacity: 0.5;
	filter: alpha(opacity=50);
	color: #fff;
	text-decoration: none;
}
#nav li a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #fff;
	text-decoration: none;
}
#nav .active {
	font-weight: bold;
}
#nav .active a,
#nav .active a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
#userbar {
	position: absolute;
	right: 0;
	bottom: -2px;
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#userbar .line {
	margin: 0 10px;
}
#userbar a,
#userbar a:hover {
	color: #fff;
	text-decoration: none;
}
#userbar span {
	float: left;
}
#userbar .name {
	margin-left: 15px;
	margin-top: 6px;
	padding-right: 15px;
	display: inline;
	color: #A9BCD8;
	max-width: 14em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
#userbar .name:hover {
	color: #fff;
}
#userbar .s-dropdown {
	background: url(../img/ico_dropdown.png) no-repeat right center;
}
#userbar .s-dropup {
	background: url(../img/ico_dropup.png) no-repeat right center;
}
#userbar .ico-notice,
#userbar .ico-notice-new {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 30px;
	height: 24px;
	background: url(../img/ico_notice.png) no-repeat 0 0;
}
#userbar .ico-notice {
	background-position: 0 -34px;
}
#userbar .ico-notice-new {
	background-position: 0 0;
}
.mod-set-nav {
	padding-top: 70px;
}
.mod-set-nav li {
	float: left;
	width: 20%;
	height: 127px;
	text-align: center;
}
.mod-set-nav-pro li {
	width: 16.6%;
}
.mod-set-nav li a,
.mod-set-nav li a:hover {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.mod-set-nav li.active {
	background: url(../img/bg_nav_on.png) no-repeat center bottom;
}
.mod-set-nav .ico {
	display: block;
	width: 70px;
	height: 70px;
	margin: auto;
	margin-bottom: 2px;
}
.mod-set-nav li span {
	color: #aac0df;
}
.mod-set-nav li a:hover span {
	color: #fff;
}
.mod-set-nav li.active span {
	color: #fff;
}
.mod-set-nav .ico-1 {
	background: url(../img/ico_nav_1.png) no-repeat;
}
.mod-set-nav .ico-2 {
	background: url(../img/ico_nav_2.png) no-repeat;
}
.mod-set-nav .ico-3 {
	background: url(../img/ico_nav_3.png) no-repeat;
}
.mod-set-nav .ico-4 {
	background: url(../img/ico_nav_4.png) no-repeat;
}
.mod-set-nav .ico-5 {
	background: url(../img/ico_nav_5.png) no-repeat;
}
.mod-set-nav .ico-6 {
	background: url(../img/ico_nav_6.png) no-repeat;
}
.mod-set-nav .ico-6 {
	background: url(../img/ico_nav_6.png) no-repeat;
}
.mod-set-nav .ico-7 {
	background: url(../img/ico_nav_7.png) no-repeat;
}
.mod-set-nav .ico-8 {
	background: url(../img/ico_nav_8.png) no-repeat;
}
.mod-set-nav .ico-9 {
	background: url(../img/ico_nav_9.png) no-repeat;
}
.mod-set-nav .ico-10 {
	background: url(../img/ico_nav_10.png) no-repeat;
}
.mod-set-nav .ico-11 {
	background: url(../img/ico_nav_11.png) no-repeat;
}
.mod-set-nav .ico-12 {
	background: url(../img/ico_nav_12.png) no-repeat;
}
.mod-ap-set-nav ul li {
	width: 25%;
}
.nav-set {
	height: 59px;
	background: #f7f7f7;
	border-bottom: 1px #eaeaea solid;
}
.nav-set table,
.nav-set td {
	border: 1px #eaeaea solid;
	border-width: 0 1px;
}
.nav-set table {
	width: 1198px;
	margin: 0 auto;
	table-layout: fixed;
}
.nav-set td {
	line-height: 55px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
}
.nav-set td a,
.nav-set td a:hover {
	display: block;
	width: 100%;
	height: 57px;
	color: #333333;
	text-decoration: none;
	border-bottom: 2px #f7f7f7 solid;
}
.nav-set td.active a {
	padding-bottom: 0;
	border-bottom: 2px #317ecd solid;
	background: #efefef;
}
.nav-set td.active a,
.nav-set td.active a:hover {
	color: #317ecd;
	text-decoration: none;
}

#bd {
	width: 1040px;
	padding: 0 60px 60px;
	margin:auto;
	background: #fff;
	border-radius: 10px;
}

#ft {
	padding: 55px 0 30px 0;
	font-size: 12px;
	line-height: 2;
	color: #8cb9f0;
	text-align: center;
}
#ft a{
	color: #8cb9f0;
	text-decoration: none;
}
#ft a:hover {
	color: #fff;
	text-decoration: none;
}
#ft p span {
	margin: 0 15px;
}
.mod-set .hd {
	border-bottom: 1px solid #D7D7D7;
	height: 60px;
	line-height: 60px;
	margin-bottom: 25px;
	padding-top: 40px;
	/*overflow: hidden;*/
	zoom:1;
}
.mod-set .hd h3 {
	float: left;
	width: 160px;
	color: #2673BF;
	font-size: 18px;
	font-weight: normal;
}
.mod-set .hd .switch {
	padding-top: 10px;
	float: left;
}
.mod-set .bd {
	margin-left: 160px;
}
.mod-netmode .bd p {
	margin-bottom: 30px;
}

.form-password .form-item {
	margin-bottom: 20px;
}

.netmode-switch-dialog-cont {
    min-height: 290px;
}
.netmode-switch-dialog-cont .switch-step{
    display: none;
}
.netmode-switch-dialog-cont .btn {
    margin: 0 auto;
}
.netmode-switch-dialog-cont .hide {
    display: none;
}
.netmode-switch-dialog-cont .form-item .ipt-text {
    /*width: 211px;*/
}
.netmode-switch-dialog-cont .tit {
    margin: 0 0 30px;
}
.netmode-switch-dialog-cont .mode-option {
    width: 330px;
    text-align: center;
    margin:0 auto 20px;
}
.netmode-switch-dialog-cont .last {
    margin-right: 0;
}
.netmode-switch-dialog-cont .mode-option div {
    height: 118px;
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.netmode-switch-dialog-cont .on div {
     border: 1px solid #2F73C5;
     background: url(../img/netmod_selected.png) no-repeat top right;
}
.netmode-switch-dialog-cont .mode-option p {
    color: #ABABAB;
    padding: 20px 0 26px;
}
.netmode-switch-dialog-cont .mode-option .icon {
    display: block;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    background: url(../img/netmod_option.png) no-repeat;
}
.netmode-switch-dialog-cont .mode-option .normal {
	background-position: 0 0;
}
.netmode-switch-dialog-cont .on .normal {
	background-position: -1px -48px;
}
.netmode-switch-dialog-cont .mode-option .wifiap {
	background-position: 0 -94px;
}
.netmode-switch-dialog-cont .on .wifiap {
	background-position: 0 -138px;
}
.netmode-switch-dialog-cont .mode-option .lanap {
	background-position: 0 -182px;
}
.netmode-switch-dialog-cont .on .lanap {
	background-position: 0 -226px;
}
.netmode-switch-dialog-cont .step-select .mode-select-tip {
	color: #ababab;
	padding: 0 0 20px;
}
.netmode-switch-dialog-cont .step-wds .tit {
    text-align: center;
}
.netmode-switch-dialog-cont .step-wds .change-select-type {
    clear: both;
    text-align: center;
    margin-bottom: 15px;
}
.netmode-switch-dialog-cont .step-wds .tip-div {
	clear: both;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
	color: #999999;
}
.netmode-switch-dialog-cont .step-wds .tip-div span {
	display: inline-block;
	vertical-align: middle;
}
.tip-div .tip-wrap {
	position: absolute;
	left: 0;
	bottom: 23px;
	padding-bottom: 12px;
	bottom: 21px;
}
.tip-div .tip-wrap .arrow {
	position: absolute;
	bottom: 0;
	left: 220px;
	width: 24px;
	height: 24px;
	overflow: hidden;
}
.tip-div .tip-wrap .arrow:after {
	content:'';
	position: absolute;
	width: 24px;
	height: 24px;
	top: -6px;
	left: 0;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	background-color: #F2F2F2;
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.13);
}
/*低版本ie三角形箭头无阴影，border模拟*/
html.oldie .tip-div .tip-wrap .arrow {
	position: absolute;
	bottom: 0;
	left: 220px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 12px 12px 0;
	border-top-color: #F2F2F2;
}
.tip-div .tip-wrap .inner {
	padding: 10px;
	text-align: left;
	color: #333;
	background-color: #F2F2F2;
	border-radius: 5px;
	box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.13);
}
.netmode-switch-dialog-cont .step-wds .text {
	padding-right: 5px;
}
.netmode-switch-dialog-cont .step-wds .ico-tip {
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../img/ico_tips.png) no-repeat;
}
.netmode-switch-dialog-cont .step-wds .change-select-type a {
    color: #2673BF;
}
.netmode-switch-dialog-cont .step-wds form {
    width: 330px;
    margin: 0 auto
}
.netmode-switch-dialog-cont .step-wdsnewssid form {
    width: 330px;
    margin: 0 auto
}
.netmode-switch-dialog-cont .step-setting {
    text-align: center;
}
.netmode-switch-dialog-cont .step-setting p {
    padding: 85px 0 30px;
}
.netmode-switch-dialog-cont .step-setting .loading {
    display: inline-block;
    width: 320px;
    height: 8px;
    overflow: hidden;
    background: url(../img/progress.gif) repeat-x 0 0 ;
}
.netmode-switch-dialog-cont .step-succ h3,
.netmode-switch-dialog-cont .step-succ-repeat2normal h3,
.netmode-switch-dialog-cont .step-succ-lanap h3,
.netmode-switch-dialog-cont .step-succ-lanap2normal h3  {
    text-align: center;
    padding: 10px 0 25px;
}
.netmode-switch-dialog-cont .step-succ p,
.netmode-switch-dialog-cont .step-succ-repeat2normal p,
.netmode-switch-dialog-cont .step-succ-lanap p,
.netmode-switch-dialog-cont .step-succ-lanap2normal p {
    line-height: 26px;
}
.netmode-switch-dialog-cont .step-succ .text,
.netmode-switch-dialog-cont .step-succ-repeat2normal .text,
.netmode-switch-dialog-cont .step-succ-lanap .text,
.netmode-switch-dialog-cont .step-succ-lanap2normal .text {
    text-align: left;
    width: 280px;
    margin: 0 auto;
}
.netmode-switch-dialog-cont .step-succ .center,
.netmode-switch-dialog-cont .step-succ-repeat2normal .center,
.netmode-switch-dialog-cont .step-succ-lanap .center,
.netmode-switch-dialog-cont .step-succ-lanap2normal .center {
    text-align: center;
    color: #2673bf;
    font-size: 22px;
    padding: 5px 0 8px;
}
.netmode-switch-dialog-cont .step-succ .btn,
.netmode-switch-dialog-cont .step-succ-repeat2normal .btn,
.netmode-switch-dialog-cont .step-succ-lanap .btn,
.netmode-switch-dialog-cont .step-succ-lanap2normal .btn {
    margin-top: 50px;
}
.netmode-switch-dialog-cont .step-repeat2normal p,
.netmode-switch-dialog-cont .step-lanap2normal p {
    text-align: center;
    padding: 90px 0 110px;
}
.netmode-switch-dialog-cont .step-repeat2normal .btns,
.netmode-switch-dialog-cont .step-lanap2normal .btns {
    text-align: center;
}
.netmode-switch-dialog-cont .step-repeat2normal .btns .btn,
.netmode-switch-dialog-cont .step-lanap2normal .btns .btn {
    width: auto;
    margin: 0 5px;
}
.netmode-switch-goback {
    position: absolute;
    left: 30px;
    top: 1px;
    font-size: 16px;
    color: #2673BF;
}
.netmode-switch-dialog-cont .ssid-select-relative {
	position: relative;
}
.netmode-switch-dialog-cont .icon-freshen {
	position: absolute;
	top: 12px;
	right: -25px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	cursor: pointer;
	background: url(../img/ico_freshen.png) no-repeat 0 0;
}
.netmode-switch-dialog-cont .form-item-select .ipt-text {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#dummydata a.wds-wifi-option span {
	display: block;
	line-height: 40px;
	height: 40px;
	margin-right: 30px;
	background: url(../img/ico_signal.png) no-repeat right 0;
	width: 254px;
	padding-right: 26px;
	overflow: hidden;
	text-overflow:ellipsis;
}
#dummydata a.no-encryption-1 span {
	background-position: right 11px;
}
#dummydata a.no-encryption-2 span {
	background-position: right -19px;
}
#dummydata a.no-encryption-3 span {
	background-position: right -51px;
}
#dummydata a.no-encryption-4 span {
	background-position: right -84px;
}
#dummydata a.is-encryption-1 span {
	background-position: right -120px;
}
#dummydata a.is-encryption-2 span {
	background-position: right -153px;
}
#dummydata a.is-encryption-3 span {
	background-position: right -185px;
}
#dummydata a.is-encryption-4 span {
	background-position: right -218px;
}
/*中继目标切换*/
.form-new-ssid {
	clear: both;
	padding: 0 0 10px;
}
.form-new-ssid .contral-div .title {
	text-align: center;
	padding: 30px 0 10px;
}
.mod-aprouterswitch .bd p {
	margin-bottom: 30px;
}
.netmode-switch-dialog-cont .step-lanap {
	width: 330px;
	margin: 0 auto;
}
.netmode-switch-dialog-cont .step-lanap .form {
	margin-top: 20px;
}
.netmode-switch-dialog-cont .lanap-mode-tip {
	color: #999999;
	text-align: left;
}
.netmode-switch-dialog-cont .lanap-mode-tip p {
	padding: 0 0 10px;
}
.netmode-switch-dialog-cont .lanap-mode-tip .hd {
	text-align: center;
}
.panel-dialog .nowanlinktip p {
	padding-bottom: 30px;
}

.dropmenu {
	position: absolute;
	right: 0;
	top: 60px;
	width: 120px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.dropmenu li {
	border-bottom: 1px #d9d9d9 solid;
}
.dropmenu li a {
	display: block;
	padding: 6px 0 6px 10px;
	color: #333;
	text-decoration: none;
}
.dropmenu li a:hover {
	color: #333;
	background: #F2F2F2;
	text-decoration: none;
}
.dropmenu li.last {
	border-bottom: 0;
}
.noticebar {
	position: absolute;
	right: 0;
	top: 70px;
	max-width: 400px;
	color: #fff;
	background: #00b268;
	border-radius: 5px;
}
.noticebar .ico-arrow {
	position: absolute;
	top: -8px;
	border-color: transparent;
	border-style: solid;
	margin-left: -8px;
	border-width: 0 8px 8px;
	border-bottom-color: #00b268;
}
.noticebar .content {
	padding: 10px;
}
.noticebar .content a,
.noticebar .content a:hover {
	color: #fff;
	text-decoration: none;
}
.mod-reboot-dlg .img,
.mod-shutdown-dlg .img {
	text-align: center;
	padding-bottom: 10px;
}
.mod-reboot-dlg .text,
.mod-shutdown-dlg .text {
	text-align: left;
	margin-bottom: 10px;
}

.mod-downloadclient-dlg a,
.mod-downloadclient-dlg a:hover {
	color: #2673BF;
}
.mod-downloadclient-dlg table {
	table-layout: fixed;
	width: 100%;
}
.mod-downloadclient-dlg table td {
	padding-bottom: 15px;
	border-bottom: 1px #d9d9d9 dotted;
}
.mod-downloadclient-dlg table .last td {
	padding-top: 15px;
	padding-bottom: 0;
	border-bottom: 0;
}
.mod-downloadclient-dlg table .c1,
.mod-downloadclient-dlg table .c2 {
	width: 30px;
	border-bottom: 0;
}
.mod-downloadclient-dlg table .c1 {
	border-right: 1px #d9d9d9 dotted;
}
.mod-downloadclient-dlg .ico-down-client {
	display: block;
	width: 86px;
	height: 86px;
	margin: 0 auto;
	margin-bottom: 5px;
	background: url(../img/ico_downclient.png) no-repeat 0 0;
}
.mod-downloadclient-dlg .ico-down-pc {
	background-position: 0 0;
}
.mod-downloadclient-dlg .ico-down-mac {
	background-position: 0 -86px;
}
.mod-downloadclient-dlg .ico-down-iphone {
	background-position: 0 -172px;
}
.mod-downloadclient-dlg .ico-down-andriod {
	background-position: 0 -258px;
}
.mod-downloadclient-dlg img {
	margin-top: 10px;
	width: 118px;
	height: 118px;
	border: 1px #d9d9d9 solid;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hide {
    display: none;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.mod-set .bd {
    margin-left: 0 !important;
}
.mod-set .hd {
    padding-top: 0;
}
.mod-check {
    margin-bottom: 20px;
}
.mod-check .bd p {
    padding: 0 30px;
    border-radius: 5px;
    background: #f7f7f7;
    line-height: 40px;
    margin-right: 170px;
}
.mod-check .bd .gt1 p,
.mod-check .bd .fixdiv p {
    margin-right: 340px;
}
.mod-check .bd .status-bad em {
    color: #CC3333;
}
.mod-check .bd a {
    float:right;
    margin-left: 10px;
}
.mod-check .bd a em {
    font-weight: bold;
}
.mod-check .bd a .status-2 {
    color: #30BF30;
}
.mod-check .bd a .status-3 {
    color: #FFAA00;
}
.mod-check .bd a .status-4 {
    color: #CC3333;
}

.mod-fix-tip {
    padding-top: 40px;
}
.mod-fix-tip .bd p {
    padding: 0 30px;
    border-radius: 5px;
    background: #FFF2F5;
    line-height: 40px;
    margin-right: 170px;
    color: #CC3333;
}
.mod-fix-tip .bd a {
    float:right;
}
.mod-fix-tip .btn-primary span {
    background: #ED4949;
    border: 1px solid #CC3333;
}
.mod-fix-tip .btn-primary:hover span {
    background: #CC3333;
}

/* header */
.mod-nav-disk {
    padding-top: 90px;
    height: 212px;
}
.mod-nav-disk .nav-disk-ul  {
    text-align: center;
}
.mod-nav-disk .nav-disk-li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
    width: 505px;
    margin: 0 20px;
    height: 212px;
}
.mod-nav-disk .active {
    background: url(../img/bg_nav_on.png) no-repeat 50px bottom;
}
.disk-area .img-area {
    float: left;
    width: 120px;
    margin-right: 24px;
    text-align: center;
}

.mod-nav-disk .img-area h2 {
    color: #a6bee0;
}
.mod-nav-disk .cnt-area h2 {
    text-align: left;
    color: #a6bee0;
    padding-bottom: 10px;
    font-weight: normal;
}
.mod-nav-disk .cnt-area {
    float: left;
    width: 360px;
}

.mod-nav-disk .bar-area{
    text-align: left;
    margin-bottom: 10px;
    background: #398AD8;
    border-radius: 5px;
    overflow: hidden;
}
.mod-nav-disk .bar-area span {
    text-align: left;
    float: left;
    height: 4px;
}
.mod-nav-disk .bar-area .b1 {
    background: #00FF33;
}
.mod-nav-disk .bar-area .isIndexingimg {
    background: url(../img/store_usb_index_bar.gif) repeat-x;
}
.mod-nav-disk .txt-area li {
    float: left;
    width: 46%;
    margin-right: 3%;
    padding: 5px 0;
    color: #fff;
}
.mod-nav-disk .txt-area li.last {
    width: 100%;
    margin-right: 0;
}
.mod-nav-disk .txt-area li em {
    color: #75A5D5;
    padding-left: 7px;
}

.dialog-format .per-text b,
.dialog-format .per-text span {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 1.1;
    font-family: din,tahoma;
}
.dialog-format .per-text b {
    font-weight: normal;
    font-size: 72px;
    color: #2267ac;
}
.dialog-format .per-text span {
    font-size: 48px;
    color: #2267ac;
}
.dialog-format .per-bar {
    background: #f2f2f2;
    margin: 10px 0;
    height: 4px;
    overflow: hidden;
}
.dialog-format .per-bar-val {
    background-color: #3399ff;
    height: 4px;
    width: 0%;
    float: left;
}
.dialog-format .text {
    padding: 10px 0;
}
.dialog-format .small {
    color: #999;
    font-size: 12px;
}
.dialog-disk-ckusb .disklist li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 20px;
    text-align: center;
}
.dialog-disk-ckusb .disklist li b {
    font-weight: normal;
    color: #297acc;
}
.dialog-disk-repair .text,
.dialog-disk-ckok .text,
.dialog-disk-bakok .text,
.dialog-disk-ckusb .text {
    padding: 10px 0;
}
.dialog-disk-bakok .text,
.dialog-disk-ckusb .text {
    text-align: left;
}

.dialog-disk-check-result2 .result,
.dialog-disk-check-result3 .result  {
    padding: 10px 0;
    font-size: 22px;
}
.dialog-disk-check-result2 .text,
.dialog-disk-check-result3 .text{
    padding: 0 0 20px;
}
.dialog-disk-check-result2 .result {
    color: #66CC66;
}
.dialog-disk-check-result3 .result {
    color: #FFCC00;
}
.dialog-disk-check-result4 .text{
    padding: 20px 0 20px;
}

.dialog-disk-fix-result2 .text {
    padding: 20px 0;
}


.charttable {
    width: 280px;
}
.charttable li {
    overflow: hidden;
    zoom:1;
    border-bottom: 1px #d9d9d9 dotted;
}
.charttable li span {
    float: left;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.charttable li .ico {
    margin: 16px 10px 0;
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.charttable li .name {
    width: 110px;
    margin-right: 10px;
}
.charttable li .value {
    width: 70px;
}
.charttable li .percent {
    color: #999;
}

.ft-format-btn span {
    background: #ED4949;
    border: 1px solid #CC3333;
}
.ft-format-btn:hover span {
    background: #cc3333;
    border-color: #cc3333;
}
.dialog-disk-format-result .text {
    padding: 10px 0;
}
.dialog-format .loading {
    height: 8px;
    overflow: hidden;
    background: url(../img/progress.gif) repeat-x 0 0 ;
    margin: 40px 0 20px;
}

.dialog-report-detail {
    text-align: left;
}
.dialog-report-detail .hd {
    color: #2673BF;
    font-weight: bold;
    border-bottom: 2px solid #2673BF;
    padding-bottom: 6px;
    margin-bottom: 15px;
}
.dialog-report-detail .bd {
    text-align: left;
}
.dialog-report-detail .t {
    font-size: 18px;
    margin-bottom: 10px;
}
.dialog-report-detail h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}
.dialog-report-detail .report-score {
    border-bottom: 1px dotted #CDCCCC;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.dialog-report-detail .score-1 {
    color: #30BF30;
}
.dialog-report-detail .score-2 {
    color: #FFAA00;
}
.dialog-report-detail .score-3 {
    color: #CC3333;
}
.dialog-report-detail li {
    margin-bottom: 16px;
}
.dialog-bad-tips {
    text-align: left;
}
.dialog-bad-tips ul {
    margin-bottom: 20px;
}
.dialog-bad-tips li {
    margin-bottom: 15px;
}
.dialog-init {}
.dialog-init .div-initting,.dialog-init .div-inited {
    min-height: 250px;
}
.dialog-init .img-show {
    width: 80px;
    position: relative;
    margin: 0 auto;
}
.dialog-init .img-show .abs-ico {
    position: absolute;
    top: -14px;
    right: -14px;
}
@-webkit-keyframes imgrotate {
  0% {
    transform:rotate(0deg);
  }

  100% {
    transform:rotate(360deg);
  }
}
@keyframes imgrotate {
  0% {
    transform:rotate(0deg);
  }

  100% {
    transform:rotate(360deg);
  }
}
.dialog-init .img-show .initting {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-name: imgrotate;
    animation-name: imgrotate;
}
.dialog-init .per-bar {
    background: #f2f2f2;
    margin: 20px 0 10px;
    height: 4px;
    overflow: hidden;
}
.dialog-init .per-bar-val {
    background-color: #3399ff;
    height: 4px;
    width: 0%;
    float: left;
}
.dialog-init ul {
    text-align: left;
    color: #9D9999;
    padding-top: 20px;
}
.mod-nav-disk-r1c .nav-disk-1 .disk-area .img-area {
    width: auto;
}
.mod-nav-disk-content {
    padding-top: 20px;
}

.mod-nav-disk-content-r1c {}
.mod-nav-disk-content-r1c .mod-download a {
    float: right;
}
.mod-nav-disk-content-r1c .mod-set .hd h3 {
    width: auto;
}
.mod-nav-disk-content-r1c .how-play-item {
    float: left;
    width: 49%;
    text-align: center;
    margin: 0 0 30px;
}
.mod-nav-disk-content-r1c .bor-r {
    border-right: 1px solid #D9D9D9;
}
.mod-nav-disk-content-r1c .pad-r {
    padding-right: 40px;
}
.mod-nav-disk-content-r1c .pad-l {
    padding-left: 40px;
}
.mod-nav-disk-content-r1c .how-play-item h4 {
    color: #2673bf;
    font-size: 16px;
    border-bottom: 1px dotted #DCDCDC;
    margin: 0 80px 20px;
    padding: 0 0 20px;
}
.mod-nav-disk-content-r1c .how-play-item .img-box {
    height: 300px;
}
.mod-nav-disk-content-r1c .how-play-item p {
    height: 65px;
    border-bottom: 1px solid #D9D9D9;
}

.mod-set .border-r {
    border-right: 1px solid #d7d7d7;
}
.mod-set .padding-r {
    padding-right: 30px;
}
.mod-set .ico-show {
    width: 160px;
    text-align: center;
    float: left;
}
.mod-set .text-show {
    padding: 20px 0 0 60px;
}
.mod-set .text-show p {
    margin-bottom: 10px;
}
.mod-cat-io-line .cat {
    border-left: 0 none;
    float: left;
    width: 490px;
}
.mod-cat-io-line .cat .bd {
    border-bottom: 1px solid #d7d7d7;
}
.mod-cat-io-line .hd {
    border-bottom: 0 none;
}
.mod-cat-io-line .hd-text {
    float: right;
    color: #ccc;
}
.mod-cat-io-line .hd-text span {
    color: #000;
    padding: 0 3px;
}
.mod-cat-io-line .hd-text em {
    color: #30BF30;
}
.mod-cat-io-line .cat .canvas {
    position: relative;
}
.mod-cat-io-line .cat .canvas p {
    position: absolute;
    color: #9d9d9d;
    text-align: center;
    width: 180px;
    left: 0;
    top: 80px;
}
.mod-cat-io-line .io {
    float: right;
    width: 490px;
}
.mod-off-format-line {
    margin: 40px 0;
}
.mod-off-format-line .mod-autooff {
    float: left;
    width: 490px;
}
.mod-off-format-line .mod-format {
    float: right;
    width: 490px;
}

.mod-file-line {
    margin-bottom: 40px;
}
.mod-file-line .mod-file {
    float: left;
    width: 490px;
}

.nav-disk-newdisk {
    position: relative;
}
.nav-disk-newdisk .ico-warn {
    position: absolute;
    top: -16px;
    left: 86px;
}
.mod-newdisk-content {}
.mod-newdisk-content h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 40px 0 30px;
}
.mod-newdisk-content .init-tip {
    padding: 0 0 0 160px;
    line-height: 28px;
}
.mod-newdisk-content .init-tip em {
    color: #CC0000;
}
.mod-newdisk-content .init-btn {
    text-align: center;
    padding-top: 60px;
}
.mod-newdisk-content .btn-primary span {
    background: #D95757;
    border: 1px solid #D95757;
}


